*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: bisque; */
}
.navbar-collapse
{
    padding-left: 55%;
}
.nav-link
{
    cursor: pointer;
}
.navbar-nav .show>.nav-link {
    color: var(--bs-navbar-active-color);
}
.nav-item  a:hover
{
  color: blue;
  text-decoration: underline;
}
.nav_sec1
{
    /* text-decoration: solid; */
    font-size: 50px;
    text-decoration: bold;
    padding: bottom 2px;
    height:90px;
    width: auto;
    /* text-transform: uppercase; */
}
#z
{
    color: blue;
}
.location
{
    font-weight: 900;
    color: blue;
}
.map
{
    /* width: 900px; */
    /* height: 500px; */
    /* text-align: center; */
    padding-left: 20%;
}
#fel
{
    /* display:inline-flex; */
    justify-content: space-between;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
 #ba
{
    color:blue ;
}
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  /* @media screen and (max-width: 600px) 
  {
    .column, input[type=submit] 
      width: 100%;
      margin-top: 0;
    } */