*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.nav_img 
{
    margin: 20%;
    color: white;
}
.nav_img1
{
    margin: 10px;
    color: white;
    padding-top: 2px;
}
.nav_img i:hover
{
    color: green;
}
/* .nav_icon
{
    justify-content: space-between;
} */
.nav_head
{
    display: block;
    width: auto;
    height: 90px;
    font-size: xxx-large;
    text-align: center;
    font-weight:bolder;
    
}
#ba
{
    color:blue ;
}
.nav_sec
{
    /* display: block; */
    background-color: blue;
    width: auto;
    height:60px ;
}
#nav_sec1
{
    display: block;
}
#nav_sec1 ul
{
 display:flex;
 /* justify-content: space-between; */
 padding-left: 2%;
 position: absolute;
 padding-top: 6px;

}
#nav_sec1 ul li
{

   text-decoration-color: white;
    text-decoration: none;
    font-weight: 700;
    font-size:15.45 px ;
    font-family:Circular,spotify-circular,Helvetica,Arial,sans-serif ;

}
#nav_sec2
{
    display:flex;
    justify-content:space-between;
    word-spacing: 0%;
    
}
#nav_sec2 ul
{
    display: flex;
    margin-left: 80%;
    justify-content: space-between;    
}
#nav1 i
{
    text-decoration-color: bisque;
    -webkit-nbsp-mode: space;
    justify-content: space-around;
}

.navbar-collapse
{
    padding-left: 55%;
     /* border-top:2px; */
}
.nav-link
{
    cursor: pointer;
}
.navbar-nav .show>.nav-link {
    color: var(--bs-navbar-active-color);
}
#nav-link2
{
    color: blue;
  text-decoration: underline;
    
}
.nav-item  a:hover
{
  color: blue;
  text-decoration: underline;
}
.w
{
    font-size: 1cm;
    padding-top: 3cm;
    padding-left:10%;
}
#w
{
    position: relative;
    padding-left:100 px;
}
.wa
{
    padding-left: 10%;
}
button{
    position: relative;
    margin-left: 105px;
    padding-left: 20%;
}
#ww
{
    background-color: white;
    color: blue;
    margin-left: 9px;
}
.c
{
    color: blue;
}
